@font-face {
  font-family: 'Partsold';
  src: url('../fonts/Partsold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.header-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 80px; 
 
}

.header-logo {
  font-size: 2.5rem; 
  font-weight: 800; 
  color: #B22222; 
  font-family: "Partsold", sans-serif; 
  text-decoration: none; 
}
